* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2E2E2E;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto 0;
}

.header-block {
    padding: 17px 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-top: 3px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    list-style: none;
}

.header__link {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.6px;
    margin-right: 40px;
    text-decoration: none;
    color: #FFFFFF;
}

.header__link:first-child {
    margin-left: 20px;
}

.header__link:last-child {
    margin-right: 20px;
}

/* header end*/


/* intro */
.intro {
    min-height: 500px;
    background: url(../images/intro.jpg) no-repeat center;
    background-size: cover;
    padding-top: 184px;
    color: #FFFFFF;
    text-align: center;

}

/* Let's do it together. */

.intro__tittle {
    font-family: 'Lora';
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.intro__sub-tittle {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
    margin-bottom: 31px;
}

.intro__button {
    width: 167px;
    height: 44px;
    border-radius: 3px;
    margin: 0 auto;
    background-color: rgba(221, 120, 63, 1);
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 44px;
}

/* middle-nav */

.middle__item {
    list-style: none;
}

.middle__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.middle__link {
    font-family: 'Lora';
    font-size: 14px;
    text-decoration: none;
    line-height: 65px;
    color: #768088;

}

/*  posters */
.posters {
    height: 100%;
    background: rgba(247, 247, 247, 1);
}

.posters__wrapper {
    padding: 60px 0 0 0;
}

.posters__title {
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.posters__title-name {
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 27px;
    color: rgba(46, 46, 46, 1);
}

.under-line {
    width: 188px;
    height: 1px;
    background: #DEDEDE;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.posters__cards {
    margin-top: 23px;
    width: 460px;
    height: 280px;
}
.posters__top-bg { 
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.posters__top-bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
}   

/* .posters__top-bg-first {
    background: url(../images/The_Road_Ahead-top_picture.png);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.posters__top-bg-second {
    background: url(../images/Lets_do-top_picture.png);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} */

.posters__top-wrapper {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 20px 15px;
    z-index: 1  ;
}

.card-title {
    font-family: 'Lora';
    font-size: 27px;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
}

.card-subtitle-text{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.card-subtitle {
    margin-top: 6px;
    font-size: 14px;
    line-height: 25px;
}

.card-info {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.card-user {
    display: flex;
    align-items: center;

}

.card-user-name {
    text-align: center;
    margin-left: 10px;
}

/* bottom posters */
.posters__bottom {
    margin-top: 60px;
}

.cards-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.posters__cards-bottom {
    margin-top: 23px;
}

.posters__bottom-wrapper {
    width: 296px;
    height: 291px;
    background: rgba(252, 252, 252, 1);
    position: relative
}

.posters__bottom-img {
    height: 150px;
    width: 100%;
}

.card-title__bottom {
    font-family: 'Lora';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.card-subtitle__bottom {
    margin-top: 6px;
    font-size: 13px;
    line-height: 19px;
    color: rgba(122, 122, 122, 1);
}
.card-subtitle__bottom_text{
    text-decoration: none;
    color: rgba(16, 19, 21, 1);
}
.card-info__bottom {
    height: 48px;
    width: 100%;
    background-color: rgba(252, 252, 252, 1);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    padding: 0 13px 0;
    border-top: solid;
    border-color: rgba(239, 239, 239, 1);

}

.card__bottom-wrapper {
    padding: 14px 13px 0;
}

/* bottom header */
.bottom__container {
    height: 89px;
    margin: 108px auto 0;
    background: url(../images/bottom-background.png) no-repeat center;
    background-size: cover;
}

.bottom__picture {
    background: rgba(35, 47, 56, 0.6);
    height: 100%;
}

.bottom-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 28px 10px 0;
}

.bottom__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.bottom__link {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 20px;
    text-decoration: none;
}

.bottom__link:first-child {
    margin-right: 10px;
}